# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Create release draft

on:
    push:
        branches: [dev]
    workflow_dispatch:

jobs:
    draft:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2
            - name: Draft release
              uses: release-drafter/release-drafter@v5
              id: release-draft
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
