# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Test build

on:
    push:
        branches: [dev, main]
    pull_request:
    workflow_dispatch:

jobs:
    test build:
        environment: test
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2
            - name: Write ./server/.env to build
              env:
                  DOTENV: '${{ secrets.DOTENV }}'
              run: echo "$DOTENV" >> ./server/.env
            - name: Use Node.js 16.x
              uses: actions/setup-node@v2
              with:
                  node-version: 16.x
            - name: Install dependencies
              run: npm ci
            - name: Test build
              run: npm run test
    run eslint:
        environment: test
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2
            - name: Use Node.js 16.x
              uses: actions/setup-node@v2
              with:
                  node-version: 16.x
            - name: Install dependencies
              run: npm ci
            - name: Test formmating
              run: npm run lint
